.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
}

.navgroup{
    display: flex;
    column-gap: 4rem;
}

.navbar-brand {
    font-weight: 600;
    font-size: 1.875rem;
}

.nav-links,
.cart-section {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.cart-link {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
}

.cart-count {
    font-size: 1.125rem;
}

.cart-icon {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
